html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:root {
    color-scheme: light dark;
}

body {
    width: 500px;
    color: black;
    font-family: system-ui;
    font-size: 12px;
    background-color: white;
}

.ht-tab:hover {
    background-color: #efefef;
}

.ht-tab-location {
    color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

    body {
        background-color: #2b2b2b;
        color: #f2f2f2;
    }

    .ht-search-wrapper .ht-search-input {
        background-color: #2b2b2b;
    }

    .ht-tab-location {
        color: #e9e9e9;
    }

    .ht-tab:hover {
        background-color: #4e4e4e;
    }
}
